In [2]:
import numpy as np
import pandas as pd

# Pandas Dataframes

In [ ]:
# Creating Dataframe type1 dict+list
d1 = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'London', 'Paris']
}

In [3]:
pdf1 = pd.DataFrame(d1)

In [4]:
pdf1

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris

In [5]:
# Creating DF type 2 dict+dict
d2={
    "sale":{ "name":"jacob","age":34,"salary":200000},
    "Marketing":{"name":"jaggu","age":36,"salary":300000}
}

In [6]:
pdf2 = pd.DataFrame(d2)

In [7]:
pdf2

          sale Marketing
name     jacob     jaggu
age         34        36
salary  200000    300000

In [ ]:
pdf2.index #pdf2 has label index, label means it is not integer

Index(['name', 'age', 'salary'], dtype='object')

In [ ]:
pdf1.index  # pdf 1 has numbered index

RangeIndex(start=0, stop=3, step=1)

In [10]:
pdf2['sale'][0]

'jacob'

In [11]:
pdf2['sale']['name']

'jacob'

In [18]:
pdf1['City'][1]

'London'

In [ ]:
# type 3 creation of DF list->list
l1 = [
    [2,5,4],
    [3,5,6],
    [8,6,9]
]

In [20]:
pdf3 = pd.DataFrame(l1,index=['row1','row2','row3'])

In [ ]:
# Type 4 Creating DF with column names
pdf4 = pd.DataFrame(l1,columns=['A','B','C'],index=['row1','row2','row3'])

In [21]:
pdf3

      0  1  2
row1  2  5  4
row2  3  5  6
row3  8  6  9

In [23]:
pdf4

      A  B  C
row1  2  5  4
row2  3  5  6
row3  8  6  9