# Pandas Basics

Pandas has two data types
1. Series - 1D array/list
2. Dataframe - 2 or nore dimension array

In [1]:
import pandas as pd
import numpy as np

In [2]:
l1  = [2,3,46,6,8,9]

In [3]:
l1[2]

46

In [4]:
sdata1 = [2,4,7,8,3,6]

### Pandas Series
- Syntax   
Pandasobj1 = pd.Series(data,index)

In [5]:
pseries1 = pd.Series(sdata1)

In [6]:
pseries1

0    2
1    4
2    7
3    8
4    3
5    6
dtype: int64

In [7]:
pseries1[2]

7

In [8]:
sdata2 = [2,7,9,4,7]

In [9]:
pseries2 = pd.Series(sdata2)

In [10]:
pseries2

0    2
1    7
2    9
3    4
4    7
dtype: int64

In [12]:
pseries2[2]

9

In [13]:
pseries2[1]

7

In [14]:
pseries2[4]

7

In [15]:
sdata3 = [34,55,67,88,33]
indexdata3 = ['jan','feb','march','april','may']
pseries3 = pd.Series(sdata3,indexdata3)

In [16]:
pseries3

jan      34
feb      55
march    67
april    88
may      33
dtype: int64

In [17]:
pseries3['march']

67